<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
<style>
    form{
        text-align: center;
        margin-top:100px;
    }
    input{
        width:30%;
        padding:10px;
    }
    input[type="submit"]{
        width:10%;
        background-color: green;
        border:none;
        font-size: 14px;;
    }
</style>


</head>
<body>
    
<form action="/add" method="post">
    <input type="number" name="id" placeholder="enter id"><br><br>
    <input type="text" name="name" placeholder="enter the name"><br><br>
    <input type="text" name="language" placeholder="enter the language"><br><br>
    <input type="text" name="skill" placeholder="enter the skill"><br><br>
    <input type="submit" value="submit">
</form>
    
</body>
</html>


